


<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="col-md-12">
              <h1>Bonjour, je suis <%= @pet.name %> !</h1><br>
              <% @pet.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <%= photo %>
              <% end %>
              <div class="card-pet-content-pricing">
                <p>j'ai <%= @pet.age %> ans, je suis un <%= @pet.category %></p>
                <p>, et j'ai besoin de <strong><%= @pet.pricing %></strong></p>
                <span>&nbsp&nbsp</span>
                <i class="fas fa-bone"></i>
              </div>
              <%= @pet.description %>
              <div><br>
                <% if @is_owner %>
                <p>Je suis l'animal de <strong><%= @pet.owner.name %></strong></p>
                <% end %>
              </div>

          </div>
      </div>
      <div class="col-md-4">
        <div class="date">
          <%= render "bookings/form" %>
        </div>
      </div>
  </div>
</div>


