<%= @pet.name %>
<%= @pet.age %>
<%= @pet.category %>
<%= @pet.description %>
<%= @pet.pricing %>
<%= @pet.owner %>
<div class="date">
  <%= render "bookings/form" %>
</div>


<% if @is_owner %>
<% else %>
<% end %>

