<%= @pet.name %>
<%= @pet.age %>
<%= @pet.category %>

<%= @pet.pricing %>
<%= @pet.owner %>


<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="col-md-12">
              <h1>Bonjour, je suis <%= @pet.name %> !</h1><br>
              <%= @pet.description %>
          </div>
      </div>
      <div class="col-md-4">
          <div class="col-md-12">
              <%= link_to "Tu veux me câliner ?", "#" , class: "btn btn-flat" %>
          </div>
      </div>
  </div>
</div>

<% if @is_owner %>
<% else %>
<% end %>

<!--
  Je suis dans un profil pet :
  - Si je suis un  customer, je peux choisir une date, et créer un booking
  - Si je suis un owner, je peux updater les infos du pet (photos / description)
 -->




<!-- t.string "name"
t.integer "age"
t.string "category"
t.text "description"
t.integer "pricing"
t.bigint "owner_id"
t.datetime "created_at", precision: 6, null: false
t.datetime "updated_at", precision: 6, null: false
t.index ["owner_id"], name: "index_pets_on_owner_id" -->
